/*
CSS3
Author: Monica Jasper
Date: April 2023
Updated: July 2023
*/

:root{
  /*variables*/
  /*--color-purple: hsl(270, 17%, 50%);*/
  --color-white: #EEE;
  --color-ltblue: #aac9d4;
  --color-dkblue: #004F97;
  --color-gray: #CCC;
  --font-header: "Josefin Sans", sans-serif;
  }  
    
  *
  {
    margin: 0; /*handles 100% width problem in welcome-section*/
    padding: 0;
    box-sizing: inherit;
    text-align: left;
  }
  
  html
  {
    font-family: var(--font-header);
    background-color: var(--color-ltblue);
  }
  
  body
  {
    min-height: 150vh;
  }
  
  /*Navigation Bar*/
  #navbar
  {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 1em 2em;
    font-family: var(--font-header);
    font-size: 1.2em;
    background: linear-gradient(90deg, var(--color-gray) 0%, var(--color-dkblue));
    box-shadow: 1px 2px 2px rgba(50, 50, 50, 0.5);
  }
  
  nav li
  {
    display: inline;
    text-transform: uppercase;
    padding: 1em;
    font: black;
  }
  
  a
  {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited, .project-name:visited
  {
    text-decoration: none;
    font: black;  
  }
  
  a:hover, .project-tile .project-name:hover
  {
    color: var(--color-dkblue);
  }
  
  /*About*/
  #sobre
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0px;
  }

  #sobre p
  {
    font-family: var(--font-header);
    text-align: center;
    font-size: 1.35em;
    line-height: 1.4em;
    max-width: 350px;
    margin: 1.2em auto 1em auto;
  }
  

  /*Items*/
  #ropa, #casa, #aficiones, #dinero, #otra, #sobre h2
  {
    display: in-line
    text-align: left;
    margin: 2em auto 2em 20%;
  }


  h1,h2,li
  {
    font-family: var(--font-header);
  }
  
  h1,h2
  {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0.8em;
    color: var(--color-dkblue);
  }

  dd
  {
    margin-left: 1em;
  }
  
  /*
  .project-tile .project-name
  {
    color: black;
    margin: 0.7em auto;
    font-size: 1.2em;
  }
  
  .code {
    color: var(--color-purple);
    transition: color 0.3s ease-out;
  }
  
  .item-tile:hover .code
  {
    color: var(--color-teal);
  }
  */
  
  footer
  {
    display: none;
  }
  
  @media(max-height: 320px)
  { 
    #welcome-section p
    {
      display: none;
    }
  }  
